.PostDetails {
    display: grid;
    grid-template: repeat(2, max-content) / 1fr;
    grid-template-areas:
    'title'
    'dates';
    margin-bottom: 20px;
}

.PostDetails--preview {
    grid-template: repeat(2, max-content) / 1fr;
    grid-template-areas:
    'title'
    'dates';
}

.PostDetails__title {
    grid-area: title;
}

.PostDetails__date-wrapper {
    grid-area: dates;
    color: var(--grey);
    font-weight: 500;
}

.PostDetails__date {
    display: inline-block;
}

.PostDetails__date:first-child {
    margin-right: 40px;
}

@media (max-width: 1200px) {
    .PostDetails__title {
        width: auto;
    }
}
