.App {
    width: 40%;
    margin: 20px auto 40px;
}

.App__header {
    margin: 0 auto 40px;
}

.App__title {
    width: max-content;
}

.App__page {
    line-height: 1.5;
}

.App__page a:not(.PostDetails a) {
    text-decoration: underline;
}

@media (max-width: 1400px) {
    .App {
        width: 50%;
    }
}

@media (max-width: 1200px) {
    .App {
        width: 60%;
    }
}

@media (max-width: 1000px) {
    .App {
        width: 80%;
    }
}

@media (max-width: 800px) {
    .App {
        width: 90%;
    }
}
